* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*color*/
:root {
  --PANGU_YELLOW: #ffff00;
  --PANGU_BGREY: #202227;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
  font-style: italic;
  cursor: pointer;
}

.splash {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  color: var(--PANGU_YELLOW);
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 0, 0);
  transition: 0.5s;
  z-index: 2;
}

.splash.active {
  right: 300px;
}

.splash header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle {
  position: relative;
  width: 50px;
  height: 50px;
  background: url(Menu.png);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: url(X_icon.png);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  cursor: pointer;
}

.splash.active {
  right: 300px;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--PANGU_BGREY);
}

.menu ul {
  position: relative;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.menu ul li a:hover {
  color: var(--PANGU_YELLOW);
}

.splash video {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.logoImage img {
  position: absolute;
  top: 1;
  left: 1;
  width: 40%;
  height: 40%;
  object-fit: contain;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000056;
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3 {
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text a {
  display: inline-block;
  font-size: 1em;
  background: white;
  padding: 10px 30px;
  text-decoration: none;
  color: #111;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.text a:hover {
  transform: scale(1.1);
}

@media (max-width: 991px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
}

.text h5 {
  font-size: 2em;
  color: rgb(255, 255, 0);
}

